<div class="container mt-4">
    <div class="col-12 mb-3">
        <div class="d-flex">
            <input type="text" name="search" placeholder="search..." 
                [value]="searchedItem()"
                (input)="searchedItem.set($event.target.value)">
            <button type="button" [disabled]="isLoading()" (click)="searchedItem.set('')">
                <span class="material-icons align-middle">refresh</span>
            </button>
        </div>
    </div>
    <div class="col-12 border border-1 border-dark p-3 scroll-box">
        <div class="row">
            @if( isLoading() ) {
                <div class="col-12 text-center">
                    <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
                </div>
            } @else {
                @for(pkg of filteredPackages(); track pkg.id) {
                    <div class="col-md-4 mb-3">
                        <app-package-card
                            [pkg]="pkg"
                            [hoveredId]="hoveredId()"
                            [hoveredDependencies]="hoveredDependencies()"
                            (packageEnter)="onPackageEnter($event)"
                            (packageLeave)="onPackageLeave()"/>
                    </div>
                } @empty {
                    <div class="col-12">
                        No packages!!!
                    </div>
                }
            }
        </div>
    </div>
</div>
